/* Common Design */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Scrollbar Styles for Webkit Browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.sidebar-container {
    width: 250px;
    height: 100vh;
    background-color: #005F6B;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo-container {
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.sidebar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-nav {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-nav ul {
    padding: 0 20px;
    list-style: none;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
    padding: 0 10px;
}

.sidebar-nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.sidebar-nav ul li a:hover {
    color: black;
}

.sidebar-nav ul li a svg {
    margin-right: 10px;
}

.sidebar-nav ul li:hover {
    background-color: white;
    border-radius: 5px;
}

.sidebar-signout {
    padding: 20px 0;
}

.sidebar-item.active a {
    color: white;
}

.dropdown-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
 background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
